<div class="card mt-3 mb-3 mr-auto ml-auto">
    <h5 class="card-header">{{ product.name }}</h5>
    <div class="w-50 ml-auto mr-auto text-center">
        <a href="/product/{{ product.id }}" target="blank">
            <img src="{{ product.med_img }}" alt="Card image cap">
        </a>
    </div>
    <div class="card-body">         
        <p class="card-text text-center">{{ product.short_descr }}</p>
        <table class="mr-auto ml-auto mb-1 w-75">
            {% if product.msrp %}
                <tr>
                    <th>MSRP</th>
                    <td>{{ "${:,.2f}".format(product.msrp) }}</td>
                </tr>
            {% endif %}
            {% if product.prices %}
                <tr>
                    <th>Current Price</th>
                    <td>{{ "${:,.2f}".format(product.prices[-1].price) }}</td>
                </tr>
            {% endif %}
          <tr>
                <th>Stock Status</th>
                <td>
                    {% if product.prices[-1].stock == 'Available' %}
                        <i class="fa fa-check text-success" aria-hidden="true"></i>
                    {% else %}
                        <i class="fa fa-times text-danger" aria-hidden="true"></i>
                    {% endif %}
                    {{ product.prices[-1].stock }}
                </td>
            </tr>
        </table>
        {% if product.prices|length <= 1 %}
            <p class="text-center mt-3 text-muted font-italic">No price history exists for this product</p>
        {% else %}
            <p class="text-center mt-3 font-italic"><a href="/product/{{ product.id }}">View price history</a></p>
        {% endif %}
        {% if session.logged_in and add_to_list %}
            <form class="text-center" action="/add_product" method="post">
                <input type="text" value="{{ product.id }}" name="productID" id="productID" hidden>
                <input type="submit" value="Add to my List" class="btn btn-success">
            </form>
        {% endif %}
        <a class="card-link" href="{{ product.url }}" target="_blank">Product page</a>
        <a class="card-link" href="{{ product.add_to_cart_url }}" target="_blank">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            Add to cart
        </a>
        {% if not add_to_list %}
            <form class="float-right" action="/remove_product" method="post">
                <input type="text" value="{{ product.id }}" name="productID" id="productID" hidden>
                <button type="submit" class="btn btn-link p-0">
                    <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                </button>
            </form>
        {% endif %}
    </div>
    
</div>