<div class="card mt-3 mb-3 mr-auto ml-auto">
    <h6 class="card-header">{{ product.name[:36] }}{% if product.name|length >= 36 %}...{% endif %}</h6>
    <div class="w-50 ml-auto mr-auto text-center">
        <a href="/product/{{ product.id }}">
            <img src="{{ product.med_img }}" alt="Card image cap">
        </a>
    </div>
    <div class="card-body">
        <table class="mr-auto ml-auto mb-1 w-75">
            {% if product.prices and product.prices[-1].price and product.prices[-2].price %}
                <tr>
                    <th>Old Price</th>
                    <td>{{ "${:,.2f}".format(product.prices[-2].price) }}</td>
                </tr>
                <tr>
                    <th>Current Price</th>
                    {% if product.prices[-1].price < product.prices[-2].price %}
                        <td class="text-success font-weight-bold">
                            {{ "${:,.2f}".format(product.prices[-1].price) }}
                            <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                        </td>
                    {% else %}
                        <td class="text-danger font-weight-bold">
                            {{ "${:,.2f}".format(product.prices[-1].price) }}
                            <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                        </td>
                    {% endif %}
                </tr>
            {% endif %}
          <tr>
                <th>Stock Status</th>
                <td>
                    {% if product.prices[-1].stock == 'Available' %}
                        <i class="fa fa-check text-success" aria-hidden="true"></i>
                    {% else %}
                        <i class="fa fa-times text-danger" aria-hidden="true"></i>
                    {% endif %}
                    {{ product.prices[-1].stock }}
                </td>
            </tr>
        </table>
        {% if product.prices|length <= 1 %}
            <p class="text-center mt-3 text-muted font-italic">No price history exists for this product</p>
        {% else %}
            <p class="text-center mt-3 font-italic"><a href="/product/{{ product.id }}">View price history</a></p>
        {% endif %}
        {% if session.logged_in %}
            {% if product.id not in session.products %}
                <form class="text-center" action="/add_product" method="post">
                    <input type="text" value="{{ product.id }}" name="productID" id="productID" hidden>
                    <input type="submit" value="Add to list" class="btn btn-sm mb-1 btn-outline-success">
                </form>
            {% else %}
                <p class="text-muted text-center small">You are currently tracking this product</p>
            {% endif %}
        {% else %}
                <p class="text-muted text-center small"><a href="/register">Register</a> or <a href="/login">Login</a> to track this product</p>                
        {% endif %}

        <a class="card-link" href="{{ product.url }}" target="_blank">Product page</a>
        <a class="card-link float-right" href="{{ product.add_to_cart_url }}" target="_blank">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            Add to cart
        </a>
    </div>

</div>
