{% extends 'layout.html' %}

{% block body %}

    <h1>Dashboard <small>Welcome {{session.username}}</small></h1>

    <a href="/add_article" class="btn btn-success">Search Products</a>
    <hr>

    
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Date</th>
            <th></th>
            <th></th>
        </tr>
        
        {% for product in products %}
            <div class="card text-center">
                <h5 class="card-header">{{ product.name }}</h5>
                <img class="card-img-top" style="width: 18rem; margin:auto;" src="{{ product.med_img }}" alt="Card image cap">
                <div class="card-body">
                {% if product.prices %}
                <h5 class="card-title">Current Price $.{{ product.prices[-1].price }}</h5>
                {% endif %}
                <p class="card-text">{{ product.short_descr }}</p>
                <form action="/add_product" method="post">
                    <input type="text" value="{{ product.id }}" name="productID" id="productID">
                    <input type="submit" value="Add to my List" class="btn btn-primary">
                </form>
                {% if product.prices %}
                <div class="card-footer text-muted">
                        {{ product.prices[-1].stock}}
                    </div>
                </div>
                {% endif %}
            </div>
        {% endfor %}
    </table>

{% endblock %}