{% extends 'layout.html' %}

{% block body %}

    <h1>Dashboard <small>Welcome {{session.username}}</small></h1>

    <a href="/add_article" class="btn btn-success">Search Products</a>
    <hr>

    
    <div class="row">       
        {% for track in products %}
            <div class="col-lg-3">
            <div class="card text-center">
                <h5 class="card-header">{{ track.product.name }}</h5>
                <img class="card-img-top" style="width: 9rem; margin:auto;" src="{{ track.product.med_img }}" alt="Card image cap">
                <div class="card-body">
                {% if track.product.prices %}
                <h5 class="card-title">Current Price $.{{ track.product.prices[-1].price }}</h5>
                {% endif %}
                <p class="card-text">{{ track.product.short_descr }}</p>
                
                {% if track.product.prices %}
                <div class="card-footer text-muted">
                        {{ track.product.prices[-1].stock}}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}