{% extends 'layout.html' %}

{% block body %}

    <div class="jumbotron text-center">
        <h1>Welcome to Wall-Cart</h1>
        <p class="lead">Enter a product URL to compare prices or see a trend</p>

        {% from "includes/_formhelpers.html" import render_field %}
        
        <form method="POST" action="">
            <div class="form-group">
                {{render_field(form.product, class_="form-control")}}
            </div>
            <p><input type="submit" class="btn btn-primary" value="Submit"></p>
        </form>
        
        
        {% if session.logged_in ==NULL %}
        <p class="lead">Log in or Regiter to see your saved Items</p>
            <a href="/register" class="btn btn-primary btn-lg">Register</a>
            <a href="/login" class="btn btn-success btn-lg">Login</a>
        {% endif %}

        {% if isproduct == True %}
            
            <div class="card text-center">
                <h5 class="card-header">{{ product.name }}</h5>
                <img class="card-img-top" style="width: 18rem; margin:auto;" src="{{ product.med_img }}" alt="Card image cap">
                <div class="card-body">
                {% if product.prices %}
                <h5 class="card-title">Current Price $.{{ product.prices[-1].price }}</h5>
                {% endif %}
                <p class="card-text">{{ product.short_descr }}</p>
                <form action="/add_product" method="post">
                    <input type="text" value="{{ product.id }}" name="productID" id="productID" hidden>
                    <input type="submit" value="Add to my List" class="btn btn-primary">
                </form>
                {% if product.prices %}
                <div class="card-footer text-muted">
                        {{ product.prices[-1].stock}}
                      </div>
                </div>
                {% endif %}
            </div>

        {% endif %}
    </div>

{% endblock %}