{% extends 'layout.html' %}

{% block body %}

    <div class="jumbotron text-center">
        <h1>Welcome to Walcart!</h1>
        {% include "./includes/_product_search.html" %}
        
        {% if session.logged_in == NULL %}
        <p class="lead">Log in or Register to save an item in your list</p>
            <a href="/register" class="btn btn-primary btn-lg">Register</a>
            <a href="/login" class="btn btn-success btn-lg">Login</a>
        {% endif %}

    </div>
    {% if product %}
        <div class="alert alert-success">Success! Here's what we've found</div>
        <div>{% include "./includes/_product_card.html" %}</div>
    {% endif %}

{% endblock %}